    
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
       
     <title>Lista de Servicio</title>
        <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 	 <!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	 <!-- Optional theme -->
  
 
	  <!-- CSS -->
      <link rel="stylesheet" th:href="@{../css/templatemo-style.css}">
	  <link rel="stylesheet" th:href="@{../css/Formulario_Style.css}">
	 
    </head>
	<body >
 

		<!-- INSERTAR div header -->
		<div th:insert="~{admin/Template_Admin.html :: header}"></div>


     <!-- Crear_Servicios de Tranporte -->
 



	  		<div class="container-fluid">
	 	
	              <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
	                
	                <li role="presentation" class="active"><a href="#">_ </a></li>
	  			  
	            
	              </ul>
	          </div>
	  		
	 		 <div class="container-fluid" style="margin: 50px 0;">
	 		     <div class="row">
	 		         <div class="col-xs-12 col-sm-4 col-md-3">
	 					<img src="../img/Logo_solo.png" alt="Lista de Servicio de Transporte" class="img-responsive center-box" style="max-width: 100px; position: absolute; left: 150px;">
	 		         </div>
	 		         <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
	 		             Bienvenido a la sección para registrar un nueva Ruta de Transporte, debes de llenar todos los campos del siguiente formulario para poder registrarlo.
	 		         </div>
	 		     </div>
	 		 </div>

	         
	  	
	  	<div class="container-fluid">
	  		<div class="row">
	  			<div class="col-xs-12 lead">
	  				<ol class="breadcrumb">
	  				
	  				 
	  				 <a  th:href="@{G_list_routes_transport}">Listado de Rutas</a>&nbsp;&nbsp;&nbsp;&nbsp;
					 <li class="active">Nuevo Ruta</li>
	  				 
	  				</ol>
	  			</div>
	  		</div>
	  	</div>
	  	
	  	 
	  			
	  			
	  		 
	  		<div class="alert alert-info text-center" style="margin-top:20px;">
	  			 
	  		</div>
	  		 
			<!-- FORMULARIO DE CREACION: -->
    <section>
		
        <div class="form-box">
			
            <div class="form-value">
				
				<form th:action="@{/usuario/save}" method="post" enctype="multipart/form-data">
 
				    <div class="inputbox">
				        <!-- Icono de una línea de código -->
				        <ion-icon name="code"></ion-icon>
				        <!-- Bloquear la entrada de datos y establecer el marcador de posición -->
				        <input type="text" id="codigo" name="codigo"  required>
				        <!-- Agregar una etiqueta descriptiva -->
				        <label for="codigo">Código de línea</label>
				    </div>
				    <div class="inputbox">
				        <!-- Icono de un punto de origen -->
				        <ion-icon name="locate"></ion-icon>
				        <!-- Bloquear la entrada de datos y establecer el marcador de posición -->
				        <input type="text" id="origen"  name="origen" required>
				        <!-- Agregar una etiqueta descriptiva -->
				        <label for="origen">Origen</label>
				    </div>
				    <div class="inputbox">
				        <!-- Icono de un destino -->
				        <ion-icon name="navigate"></ion-icon>
				        <!-- Bloquear la entrada de datos y establecer el marcador de posición -->
				        <input type="text" id="destino" name="destino" required >
				        <!-- Agregar una etiqueta descriptiva -->
				        <label for="destino">Destino</label>
				    </div>
 
					<div class="inputbox">
					    <!-- Agregar una etiqueta descriptiva -->
 

					    <label for="id">Empresa de Transporte</label> 
					    <!-- Icono de un camión para representar una empresa de transporte -->
					    <ion-icon name="bus"></ion-icon>
					    <!-- Input oculto para enviar el ID seleccionado -->
					    <input type="hidden" name="id" required>
					    <!-- Combobox para seleccionar la empresa de transporte -->
					    <br><br><select name="nombreEmpresa" required style="width: 100%;" onchange="this.previousElementSibling.value=this.value;">
					        <option value="" disabled selected>Selecciona una empresa de transporte</option>
					        <!-- Agregar opciones para cada empresa de transporte -->
					        <option value="empresa1">Empresa 1</option>
					        <option value="empresa2">Empresa 2</option>
					        <option value="empresa3">Empresa 3</option>
					        <!-- Añade más opciones según sea necesario -->
					    </select>
						
					</div>

					<div class="inputbox">
					    <!-- Icono de un enlace para representar una URL -->
					    <ion-icon name="link"></ion-icon>
					    <input type="url" id="urlRuta" name="urlRuta"  required>
					    <label for="urlRuta">URL de la ruta</label>
					</div>
				    <button type="submit" class="btn btn-success">Guardar</button> 	
				</form>

            </div>
        </div>
    </section>
    

     <!-- FOOTER -->

	 <div th:insert="~{admin/Template_Admin.html :: footer}"></div>

     <!-- SCRIPTS -->
 
	 <!-- SCRIPTS FILTRO -->
 	 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  
    </body>
</html>
