    
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
       
     <title>Lista de Servicio</title>
        <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 	 <!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	 <!-- Optional theme -->
  
 
	  <!-- CSS -->
      <link rel="stylesheet" th:href="@{../css/templatemo-style.css}">
	  <link rel="stylesheet" th:href="@{../css/Formulario_Style.css}">
	 
    </head>
	<body >
 

		<!-- INSERTAR div header -->
		<div th:insert="~{admin/Template_Admin.html :: header}"></div>


     <!-- Crear_Servicios de Tranporte -->
 



	  		<div class="container-fluid">
	 	
	              <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
	                
	                <li role="presentation" class="active"><a href="#">_ </a></li>
	  			  
	            
	              </ul>
	          </div>
	  		
	 		 <div class="container-fluid" style="margin: 50px 0;">
	 		     <div class="row">
	 		         <div class="col-xs-12 col-sm-4 col-md-3">
	 					<img src="../img/Logo_solo.png" alt="Lista de Servicio de Transporte" class="img-responsive center-box" style="max-width: 100px; position: absolute; left: 150px;">
	 		         </div>
	 		         <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
	 		             Bienvenido a la sección para actualizar Paradero de Ruta, debes de llenar todos los campos del siguiente formulario para poder registrarlo.
	 		         </div>
	 		     </div>
	 		 </div>

	         
	  	
	  	<div class="container-fluid">
	  		<div class="row">
	  			<div class="col-xs-12 lead">
	  				<ol class="breadcrumb">
	  				  <li class="active"></li>&nbsp;&nbsp;
	  				 
	  				 <a th:href="@{J_list_whereabouts_route}">Listado de Paradero</a>
	  				 
	  				 
	  				</ol>
	  			</div>
	  		</div>
	  	</div>
	  	
	  	 
	  			
	  			
	  		 
	  		<div class="alert alert-info text-center" style="margin-top:20px;">
	  			 
	  		</div>
	  		 
			<!-- FORMULARIO DE CREACION: -->
			<section>
			    <div class="form-box">
			        <div class="form-value">
			            <form th:action="@{/usuario/save}" method="post" enctype="multipart/form-data">
			                
			                <!-- Input para el ID -->
							<div class="inputbox">
							    <!-- Icono de una llave para representar un ID -->
							    <ion-icon name="key"></ion-icon>
							    <!-- Bloquear la entrada de datos y establecer el marcador de posición -->
							    <input type="text" id="nombre" name="id" placeholder="ID " readonly required>
							    <!-- Agregar una etiqueta descriptiva -->
							    <label for="nombre">ID</label>
							</div>

			                <!-- Input para el Nombre del Paradero -->
			                <div class="inputbox">
			                    <ion-icon name="bus"></ion-icon>
			                    <input type="text" id="nombreParadero" name="nombreParadero" required>
			                    <label for="nombreParadero">Nombre del Paradero</label>
			                </div>

			                <!-- Input para el Código de Ruta -->
 
							<div class="inputbox">
								    <!-- Icono de una llave para representar un ID -->
								    <ion-icon name="barcode"></ion-icon>
								    <!-- Bloquear la entrada de datos y establecer el marcador de posición -->
								    <input type="" id="codigoRuta" name="codigoRuta" placeholder="Codigo de Ruta "      >
								    <!-- Agregar una etiqueta descriptiva -->
								    <label for="nombre">Código de Ruta</label>
								</div>
			                <!-- Input para la URL de Ubicación -->
			                <div class="inputbox">
			                    <ion-icon name="globe-outline"></ion-icon>
			                    <input type="text" id="urlUbicacion" name="urlUbicacion" required>
			                    <label for="urlUbicacion">URL de Ubicación</label>
			                </div>

			                <!-- Eliminamos los campos anteriores (Nombre, Apellido, Correo, Contraseña) -->

			                <button type="submit" class="btn btn-success">Actualizar</button>
			            </form>
			        </div>
			    </div>
			</section>

     <!-- FOOTER -->

	 <div th:insert="~{admin/Template_Admin.html :: footer}"></div>

     <!-- SCRIPTS -->
 
	 <!-- SCRIPTS FILTRO -->
 	 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  
    </body>
</html>
