<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sistema de Rendimiento Escolar</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{../css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
    <link rel="stylesheet" th:href="@{/css/Formulario_style.css}">
    <!-- Franco -->
    <link href="css/styles.css" rel="stylesheet" />

</head>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC32VsgEeKPGzCBDCFFgLaafZAvmvcvVOA&libraries=places"></script>

<body onload="initMap()">
    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>
    <!-- MENU -->
	<!-- INSERTAR div header -->
			<div th:insert="~{user/Template_Admin.html :: header}"></div>

    <!-- Historial de viajes -->
    <section id="historial-viajes" class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-4">Historial de Viajes</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Fecha</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Duración</th>
                            <th>Distancia</th>
                            <th>Linea de Bus</th>
                        </tr>
                    </thead>
					<tbody>
					    <tr th:each="viaje : ${viajes}">
					        <form th:action="@{/user/Menu3}" method="post">
					            <td th:text="${viaje.id}"></td>
					            <td th:text="${viaje.fechaHoraLlegada}"></td>
					            <td th:text="${viaje.origen}"></td>
					            <td th:text="${viaje.destino}"></td>
					            <td th:text="${viaje.duracion}"></td>
					            <td th:text="${viaje.distancia}"></td>
					            <td th:text="${viaje.getNLineaNombre}"></td>
					            <td>
					                <input type="hidden" name="origen" th:value="${viaje.origen}" />
					            </td>
					            <td>
					                <input type="hidden" name="destino" th:value="${viaje.destino}" />
					            </td>
					            <!-- agregar botón para obtener el origen y destino en el mapa, se obtiene origen y destino nomás -->
					            <td>
					                <button style="width: auto;" class="btn btn-primary" type="submit">Buscar Ruta</button>
					            </td>
					        </form>
					    </tr>
					</tbody>
                </table>
            </div>
        </div>
    </section>

	<!-- FOOTER -->

		 <div th:insert="~{user/Template_Admin.html :: footer}"></div>
    <!-- SCRIPTS -->
    <script th:src="@{../js/jquery.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script th:src="@{../js/owl.carousel.min.js}"></script>
    <script th:src="@{../js/smoothscroll.js}"></script>
    <script th:src="@{../js/custom.js}"></script>
</body>

</html>

